[package]
name = "biodivine-lib-bdd"
version = "0.1.0"
authors = ["Samuel Pastva <daemontus@gmail.com>"]
edition = "2018"

# Enable rich docs for some online docs autogen services.
[package.metadata.docs.rs]
rustdoc-args = ["--html-in-header", "docs-head.html"]

[dependencies]
fxhash = "0.2.1"

[features]
# With shields_up you enable explicit assertions of pre/post conditions and invariants in critical
# codepaths that cannot be proved safe by the rust compiler. Every such assertion should be proven
# correct by an associated comment. We use shields_up instead of debug_assertion to have it separated
# from debug mode (shields_up is not strictly for debugging, its a general safety net / troubleshooting
# measure). For official releases and benchmarks, you should disable shields_up to avoid unnecessary
# performance penalty. Avoid introducing dead code when shields_up is enabled - this will mess with test coverage.
shields_up = []

default = ["shields_up"]

[dev-dependencies]
rand = "0.7"